[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
python-dotenv = "*"
requests = "*"
fastapi = {extras = ["all"], version = "*"}
sqlmodel = "*"
asyncpg = "*"
greenlet = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
dev = "uvicorn main:app --reload --port=8080"
