@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));
@plugin 'tailwindcss-animate';
@plugin 'tailwind-corner-smoothing';

@theme {
  --font-*: initial;
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', monospace;

  --color-header: var(--header);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-second: var(--second);

  --color-switch: var(--switch);
  --color-switch-foreground: var(--switch-foreground);

  --color-switch-checked: var(--switch-checked);
  --color-switch-checked-foreground: var(--switch-checked-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  :root {
    --header: oklch(0 0 0);
    --background: oklch(0 0 0);
    --foreground: oklch(95% 0 0);
    --second: oklch(53.3% 0 0);

    --muted: oklch(95% 0 0 / 0.5);
    --muted-foreground: oklch(64.9% 0.005 217.9);

    --popover: oklch(13% 0 0);
    --popover-foreground: oklch(95% 0 0);

    --switch: oklch(0% 0 0 / 1);
    --switch-foreground: oklch(95% 0 0 / 0.3);

    --switch-checked: oklch(95% 0 0 / 1);
    --switch-checked-foreground: oklch(0% 0 0);

    --card: oklch(20.3% 0.003 262.44);
    --card-foreground: oklch(96.8% 0.003 251.27);

    --border: oklch(95% 0 0 / 0.1);
    --input: oklch(95% 0 0 / 0.1);

    --primary: oklch(96.8% 0.003 251.27);
    --primary-foreground: oklch(26.2% 0.024 251.27);

    --secondary: oklch(38.2% 0.018 251.27);
    --secondary-foreground: oklch(96.8% 0.003 251.27);

    --accent: oklch(95% 0 0 / 0.1);
    --accent-foreground: oklch(96.8% 0.003 251.27);

    --destructive: oklch(45.2% 0.145 27.16);
    --destructive-foreground: oklch(96.8% 0.003 251.27);

    --ring: oklch(82.7% 0.011 251.27);

    --radius: 0.625rem;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply selection:bg-neutral-700 selection:text-[#f2f2f2];
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  font-family:
    'Geist Variable',
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol;
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

body {
  @apply antialiased;
  color: var(--foreground);
  background-color: var(--background);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
