@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap';
@import 'normalize.css';

$font-family_1:
  ui-sans-serif,
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  Segoe UI,
  Roboto,
  Helvetica Neue,
  Arial,
  Noto Sans,
  sans-serif,
  Apple Color Emoji,
  Segoe UI Emoji,
  Segoe UI Symbol,
  Noto Color Emoji;

$background-color: #111111;
$spotify-color: #2ebd59;
$spotify-btn-color: #49a966;
$spotify-btn-color-hover: #4bb36b;
$spotify-btn-color-active: #50be72;
$white: #e8e8e8;
